<div class="ctn-footer">
    <div class="ctn-f1">
        <div class="ctn-content">
            <div class="text">{{ text.option2 }}</div>
            <div class="text1">{{ text.option3 }}</div>
            <button mat-raised-button color="primary">REGISTRARME</button>
        </div>
    </div>
    <div class="ctn-f2">
        <div class="ctn-content">
            <img src="../../../assets/img/logo.png">
            <div class="ctn-contents"> 
                <div class="text">{{ text.option1 }}</div> 
                <img src="../../../assets/img/logos.png">
            </div>
        </div>
    </div>
</div>